{
  "presets": [
    // Babel preset for all es2015 plugins.
    "es2015",

    // Tree-shaking config, but doesn't work with our hacky React config right now
    // ["es2015", {"modules": false}],

    // Specifies what level of language features to activate.
    // Stage 2 is "draft", 4 is finished, 0 is strawman.
    // See https://tc39.github.io/process-document/
    "stage-2",

    // Transpile React components to JavaScript
    "react"
  ],
  "plugins": [
    // Needed these plugins to support object rest spread for some reason.
    // https://github.com/babel/babel-loader/issues/170#issuecomment-257197385
    "transform-es2015-destructuring",
    "transform-object-rest-spread",

    // On the Ruby side, we're using the Babel 5 transpiler, so this plugin
    // allows us to keep compatability between the different Babel versions.
    // https://www.npmjs.com/package/babel-plugin-add-module-exports
    "add-module-exports"
  ]
}
